/*-----------------------------*/
/*Basic Setup*/
/*color - #d35400*/
/*-----------------------------*/
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-size: 20px;
    font-weight: 300;
}

html,
body {
    background-color: #fff;
    color: #555;
    font-family: "Lato","Arial",sans-serif;
    font-weight: 300;
    font-size: 20px;                                /*global font size*/
    text-rendering: optimizeLegibility;
    overflow-x: hidden;                             /*does not allow overflow out of text box*/
}



.clearfix {zoom: 1}
.clearfix:after{
    content: '.';
    clear: both;
    display: block;
    height:0;
    visibility: hidden;
}

/*-----------------------------*/
/*Reuseable Components*/
/*-----------------------------*/
.row {          /*always centered*/            
    max-width: 1140px;
    margin: 0 auto;
}

section {
    padding: 80px 0px;                  /*white space*/
}

/*-----------------------------*/
/*Headings*/
/*-----------------------------*/
h1{
    color: #fff;
    font-size: 300%;
    margin: 0;
}

h2{
    font-size: 200%;
    text-align: center;
    padding-bottom: 20px;
}

h2:after{                               /*make something appear after h2*/
    display:block;
    height: 2px;
    background-color: #d35400;
    content: " ";
    width: 500px;
    margin: 0 auto;
    margin-top: 30px;
}

h3{
    color:#a2a2a2;
    font-size: 150%;
}

.under {
    text-align: center;
    margin-bottom: 35px;
}

p{
    padding: 10px;
}

/*-----------------------------*/
/*Nav*/
/*-----------------------------*/
nav{
    padding: 20px;
}

.main-nav {
    display: inline-block;
    float: right;
    list-style: none;
    font-size: 80%;
}

.main-nav a{
    padding: 10px;
    text-decoration: none;
    color: #fff;
    transition: border-bottom 0.2s, color 0.2s;
}

.main-nav a:hover,
.main-nav a:active {
    border-bottom: 2px solid #d35400;
    color: #d35400;
}

.main-nav li{
    display: inline-block;
    margin: 8px 10px;
}

.logo {
    height: 50px;
    transition: background-color 0.2s;
}

/*-----------------------------*/
/*Header*/
/*-----------------------------*/

header {
    background-image: linear-gradient(rgba(46, 19, 0, 0.7),rgba(0, 0, 0, 0.7)), url(img/arena.jpg);
    height: 100vh;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

.main_text {
    margin-top: 40vh;
    transform: translate(15px);
}

/*-----------------------------*/
/*Listen*/
/*-----------------------------*/
.step{
    font-size: 130%;
    padding-bottom: 10px;
}

.long{
    word-spacing: 1px;
}

.shade-box{
    background-color: #e0e0e0;
}

