/*-----------------------------*/
/*Basic Setup*/
/*-----------------------------*/
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-size: 20px;
    font-weight: 300;
}

html,
body {
    background-color: #fff;
    color: #555;
    font-family: "Lato","Arial",sans-serif;
    font-weight: 300;
    font-size: 20px;                                /*global font size*/
    text-rendering: optimizeLegibility;
    overflow-x: hidden;                             /*does not allow overflow out of text box*/
}



.clearfix {zoom: 1}
.clearfix:after{
    content: '.';
    clear: both;
    display: block;
    height:0;
    visibility: hidden;
}

/*-----------------------------*/
/*Reuseable Components*/
/*-----------------------------*/
.row {          /*always centered*/            
    max-width: 1140px;
    margin: 0 auto;
}

section {
    padding: 80px 0px;                  /*white space*/
}